doctype  html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        title= title
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/bootstrap-theme.css')
        // [if lt IE 9]
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        // [endif]
    body
        .container
            block content
        script(src="https://code.jquery.com/jquery-2.2.1.js")
        script(src="js/bootstrap.min.js")
        script(src="js/upload.js")





